.vscode
*.pdf
.*
bin
*.out
*.o
*.a
.heredoc.tmp
*.swp

run
norminette_tester.sh

test*
tester*
printfTest*
PIPEX_TESTER/
pipex-tester/
pipexTester/
pipexMedic/
pipex_tester_42/

.nope*
output
result*

pipex
